# Lines starting with '#' are considered comments.
# Lines starting with '#' are considered comments.
*.db
*.html
*.log
*.mo
*.old
*.sqlite
*.tmp
*~
.#*
.al
.build/
.last_cover_stats
Build
Build.bat
MANIFEST
MANIFEST.bak
META.yml
MYMETA.*
Makefile
Makefile.old
TAGS
\#*#
_build/
blib/
cover_db/
errors.txt
nytprof.out
pm_to_blib
t/tex/output/test.*
perlapp/*.exe
perlapp/*.bin
